<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640140098519-027uah996g5bc4i0m8hn0fdqmtmuhidu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640140098519-027uah996g5bc4i0m8hn0fdqmtmuhidu</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>API_KEY</key>
	<string>AIzaSyA5yESRy4XgUSTErZdwV_FQDBzAT4Mk3Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>640140098519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newpro</string>
	<key>PROJECT_ID</key>
	<string>neupro-46e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>neupro-46e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:640140098519:ios:22cfa68c143466772a6992</string>
</dict>
</plist>
